body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e00ac;
    color: #fff;
    text-align: left;
    padding: 1em;
    padding-bottom: 3px;
}

main {
    padding: 1em;
}
